.account-info-sec,
.account-info-sec > :not(:first-child) {
    display: flex;
    flex-direction: column;
}

.account-info-sec {
    width: 90%;
    padding: 1.5rem;
    border-radius: 10px;
    row-gap: 2rem;
    background-color: white;
}

.account-info-sec .info .the-info {
    width: 100%;
}



/* Media Queries */

@media screen and (min-width: 768px) {
    .account-info-sec {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    .account-info-sec .info {
        justify-content: flex-start;
        column-gap: 170px;
    }
    .account-info-sec .info .the-info {
        width: fit-content;
    }
}