.passengers-list-sec {
    width: min(90%, 1040px);
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.passengers-list-sec h2 {
    font-size: 1.4rem;
}

.passengers-list-sec .passenger-info {
    font-size: 0.85rem;
}

.passengers-list-sec .show {
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 0.9rem;
}



/* Media Query */

@media screen and (min-width: 992px) {
    .passengers-list-sec .show {
        cursor: pointer;
    }
}