.change-password-sec,
.change-password-sec > * {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0000001A;
    backdrop-filter: blur(3px);
}

.change-password-sec > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.change-password-sec i {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: #515761;
}

.change-password-sec form .new-password {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}



/* Media Query */

@media screen and (min-width: 992px) {
    .change-password-sec {
        background-color: #0000001A;
        backdrop-filter: blur(3px);
    }
    .change-password-sec > * {
        width: min(50%, 550px);
        height: fit-content;
        padding: 40px;
        border-radius: 15px;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .change-password-sec form {
        width: 95%;
    }
    .change-password-sec form .new-password {
        flex-direction: row;
        column-gap: 1.25rem;
    }
}